In [1]:
import pandas as pd

In [2]:
pdx = pd.read_csv('PokeDex.csv')
pk = pd.read_csv('Pokemon.csv')

In [3]:
pdx

       #  Poke_Image       Name1 CatchRate
0      1         NaN   Bulbasaur       45*
1      2         NaN     Ivysaur        45
2      3         NaN    Venusaur        45
3      4         NaN  Charmander        45
4      5         NaN  Charmeleon        45
..   ...         ...         ...       ...
895  894         NaN   Regieleki         3
896  895         NaN   Regidrago         3
897  896         NaN   Glastrier         3
898  897         NaN   Spectrier         3
899  898         NaN     Calyrex         3

[900 rows x 4 columns]

In [4]:
#Changes the # field in the pdx series from a float to int for later purposes pertaining to the hashmap creation
pdx = pdx.astype({"#": "int"})

#Handles the * that was assigned to some of the intial values within the CatchRate column 
for i in range(len(pdx['CatchRate'])):
    if '*' in pdx.at[i, 'CatchRate']:
        pdx.at[i, 'CatchRate'] = pdx.at[i, 'CatchRate'].replace('*', '')

pdx

       #  Poke_Image       Name1 CatchRate
0      1         NaN   Bulbasaur        45
1      2         NaN     Ivysaur        45
2      3         NaN    Venusaur        45
3      4         NaN  Charmander        45
4      5         NaN  Charmeleon        45
..   ...         ...         ...       ...
895  894         NaN   Regieleki         3
896  895         NaN   Regidrago         3
897  896         NaN   Glastrier         3
898  897         NaN   Spectrier         3
899  898         NaN     Calyrex         3

[900 rows x 4 columns]

In [5]:
#Create Hashmap: # --> Key , CatchRate --> Value from pdx data 
#Assisgns the pokemon ID to its Catch Rate Value
pdxHashMap = {}

for i in range(len(pdx['#'])):
    pdxHashMap[pdx.at[i,'#']] = pdx.at[i,'CatchRate']

In [6]:
pk

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [7]:
#Creates new column inside of pk data set called "CatchRate" and intilizes all of its values to 0
pk['CatchRate'] = 0

#Appends the CatchRate Value based upon the pokemon ID to the pk(Pokemon.csv) data set
for i in range(len(pk)):
    for j in range(len(pdxHashMap)):
        if pk.at[i,'#'] == j:
              pk.at[i,'CatchRate'] = pdxHashMap[j]

In [8]:
pk

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,CatchRate
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,45
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,45
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,45
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,45
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,3
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,3
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,3
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,3
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,3

In [9]:
#Transfers all the data from the pk dataset to the Pokemon_All.csv 
pk.to_csv('Pokemon_All.csv', mode='a', columns=pk.columns, header=True)